  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <h1>New employee</h1>
  <%= render "form_new", user: @user %>

  <h1>Update user</h1>
  <%= render "form_update" %>

  <h1>All users</h1>
  <%= render "table_all" %>
